body {
    background-color: $background-color;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}

nav h1 {
    color: black;
}

nav ul li {
    display: inline-block;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: aqua;
}