/* ------ Projects ------ */

@mixin p-items {
  padding: 20px;
  display: inline-block;
}


/* Projects - Mobile styles */

@media only screen and (max-width: 767px) {
  .projects-container {
    display: flex;
    justify-content: center;
    text-align: center;
  }
    
  .projects-items {
      @include p-items;
  }

  .projects-projects h2{
      font-size: 250%;
  }

  .projects-projects a {
    text-decoration: none;
  }

  .projects-button-container {
      display: inline-block;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
  }
    
  .projects-button-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 10px;
  }

  .projects-button-image {
      width: 200px;
      height: 180px;
      margin-bottom: 10px;
      margin-right: 50px;
      padding-left: 50px;
  }
    
  .projects-button-link {
      background-color: black;
      border-radius: 30px;
      display: inline-block;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 700;
      margin-bottom: 30px;
      padding: 15px 50px;
      padding-left: 25px;
      width: 70px;
      color: white;
      white-space: nowrap;
      text-align: center;
      text-decoration: none
  }

  .projects-button-link:hover {
    background-color: #e23004;
    color: #333;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
  }
}

/* Projects - Tablet styles */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .projects-container {
    display: flex;
    justify-content: center;
    text-align: center;
  }
    
  .projects-items {
    @include p-items;
  }

  .projects-projects h2{
      font-size: 250%;
  }

  .projects-projects a {
    text-decoration: none;
  }

  .projects-button-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 120px;
  }
    
  .projects-button-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 10px;
  }

  .projects-button-image {
      width: 200px;
      height: 180px;
      margin-bottom: 10px;
      margin-right: 50px;
      padding-left: 50px;
  }
    
  .projects-button-link {
      background-color: black;
      border-radius: 30px;
      display: inline-block;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 700;
      padding: 15px 50px;
      padding-left: 25px;
      width: 70px;
      color: white;
      white-space: nowrap;
      text-align: center;
      text-decoration: none
  }

  .projects-button-link:hover {
    background-color: #e23004;
    color: #333;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
  }
}

/* Index - PC styles */

@media only screen and (min-width: 992px) {
  .projects-container {
    display: flex;
    justify-content: center;
    text-align: center;
    
    .projects-items {
      @include p-items;
    }
  
    .projects-projects {
      h2 {
        font-size: 250%;
      }

      a {
          text-decoration: none;
      }
    }
  
    .projects-button-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 120px;
  
      .projects-button-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 10px;
  
        .projects-button-image {
          width: 200px;
          height: 180px;
          margin-bottom: 10px;
          margin-right: 50px;
          padding-left: 50px;
        }
  
        .projects-button-link {
          background-color: black;
          border-radius: 30px;
          display: inline-block;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 700;
          padding: 15px 50px;
          padding-left: 25px;
          width: 70px;
          color: white;
          white-space: nowrap;
          text-align: center;
          text-decoration: none;
        }

        .projects-button-link:hover {
            background-color: #e23004;
            color: #333;
            font-size: 18px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}