body {
    background-color: aliceblue;
}

.pages {
    font-size: 20px;
    margin-right: 10px;
    float: right;
    padding: 15px 25px;
    background: transparent;
    font-family: "Hind", serif;
    border-radius: 6px;
}

.pages a {
    text-decoration: none;
    color: black;
    border-radius: 6px;
}

.pages a:hover {
    border: 2px solid #bd18af;
    border: 2px solid #bd18af;
}

.title {
    text-align: center;
    padding: 100px 0px 0px;
    font-family: "Hind", serif;
}

.title img {
    padding: 30px 0px 0px;
}

.buttons {
    text-align: center;
    padding: 50px 28px 0px;
}

.buttons a {
    border: 2px solid #0099CC;
    color: black;
    padding: 4px 28px;
    border-radius: 6px;
    font-size: 20px;
    margin-right: 10px;
    text-decoration: none;
}

.buttons a:hover {
    border: 2px solid #bd18af;
    border-radius: 6px;
}

.biography {
    text-align: center;
    font-family: "Hind", serif;
    padding: 10px 28px 0px;
}

.projects {
    text-align: center;
    padding: 100px 28px 0px;
}

.projects a {
    border: 2px solid #0099CC;
    color: black;
    padding: 4px 58px;
    border-radius: 6px;
    font-size: 50px;
    margin-right: 100px;
    text-decoration: none;
}

.projects a:hover {
    border: 2px solid #bd18af;
    border-radius: 6px;
}

.project-list-title {
    text-align: center;
    font-family: "Hind", serif;
    padding: 100px 50px 100px;
}

.project-list {
    text-align: left;
    border: 2px solid #0099CC;
    border-radius: 1px; 
}

.project-list img {
    float: left;
}

.project-list p.description {
    font-size: 22px;
}

.project-list p.name {
    text-align: left;
    font-size: 30px;
}

.project-list a {
    border: 2px solid #0099CC;
    color: black;
    padding: 4px 58px;
    border-radius: 6px;
    font-size: 20px;
    margin-right: 100px;
    text-decoration: none;
}